# Kompilyatsiya qilingan fayllar
day-*/day-*
day-*/*.exe
day-*/code
day-*/test-build
day-*/test-build.exe

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output
*.out

# Test files created by examples
day-*/*_test.txt
day-*/*_test.json
day-*/*_output.txt
day-*/*.json
day-*/test_*.txt
day-*/writer_*.txt
day-*/scanner_*.txt
day-*/readwrite_*.txt
